{% extends "socialaccount/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<br>
{% if process == "connect" %}
<p class="font-weight-bold" style="font-size:30px; text-align:center">{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</p>

<p class="font-weight-bold" style="font-size:30px; text-align:center">{% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktrans %}</p>
{% else %}
<p class="font-weight-bold" style="font-size:30px; text-align:center">{% blocktrans with provider.name as provider %}{{ provider }} 로그인{% endblocktrans %}</p>

<p style="font-size:30px; text-align:center">{% blocktrans with provider.name as provider %}{{ provider }}계정으로 로그인을 계속하시겠습니까?{% endblocktrans %}</p>
{% endif %}

<form method="post" style="text-align:center">
  {% csrf_token %}
  <button class="btn btn-outline-info btn-lg" type="submit" >{% trans "Continue" %}</button>
</form>
{% endblock %}
