{% extends 'account/base.html' %}

{% load i18n %}
{% load account socialaccount %}

{% block content %}
<br>
<p class="font-weight-bold" style="font-size:30px; text-align:center">로그인</p>

<div>
  <form class="login" method="POST" action="{% url 'account_login' %}" style="text-align:center">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    <span><button class="btn btn-info" type="submit">{% trans "Sign In" %}</button></span>
    {% endif %}
    <a class="text-danger" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    <button class="btn btn-info" type="submit">{% trans "Sign In" %}</button>
  </form>
</div>

  <p style="text-align:center">계정이 없으시다면 <a href="{{ signup_url }}">회원가입</a>을 클릭하세요</p>


{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}


<button class="btn btn-outline-light btn-lg btn-block">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
</button>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}

{% endif %}



  {% endblock %}
